.clear-box{
	clear:both;
	overflow: hidden;
}
header{
	width:auto;
	/*background-image: url(../img/img01.jpg);*/
	/*height: 500px;*/
	/*height: 32.7%;*/
}
header nav{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
header img{
	height:100%;
	/*height:26%;*/
	width:100%;
	/*width:75%;*/
	margin-left:auto;
	margin-right:auto;
}
header #logo{
	padding:0px;
	font-size:24px;
	float: left;
	list-style:none;
	text-decoration: none;
}
header #list {
	list-style: none;
	text-decoration: none;
	float:right;
}
header #list li{
	float:left;
}
header #list li a{
	color:black;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	/*padding-left:0.75%;*/
	/*padding-right:0.75%;*/
}
.information{
	margin-left:auto;
	margin-right:auto;
	/*width:1000px;*/
	width:75%;
}
#infoLeft{
	width: 30%;
	/*float: left;*/
}
#infoCenter{
	width: 30%;
	/*float: left;*/
	/*margin-left:5%;*/
	/*margin-right:5%;*/
}
#infoRight{
	width: 30%;
	/*float: left;*/
}
#textLeft p{
	font-size: 1.5em;
}
#textCenter p{
	font-size: 1.5em;
}
#textRight p{
	font-size: 1.5em;
}
#readMore button{
	float:left;
	background-color: black;
	color:white;
}
#img03{
	margin-top:4%;
}
.welcomeAndCategories{
	margin-left:auto;
	margin-right:auto;
	/*width:1000px;*/
	width:100%;
}
#welcome{
	width: 100%;
	/*float: left;*/
	margin-right:10%;
}
#welcomeText{
	font-size:2em;
}
#welcomeText1{}
#comments button{
	float:left;
	margin-left: 5px;
	/*margin-left:0.4%;*/
	background-color: black;
	color:white;
}
#list{
	/*float:left;*/
	list-style:none;
}
#a {
	float: left;
}
#v {
	float: left;
	margin-right:15px;
	/*margin-right:1.1%;*/
}
footer{
	position:absolute;
	margin-bottom:0;
	margin-top:20px;
	/*margin-top:1.3%;*/
	/*width:100%;*/
	/*background-image: url(../img/img05.jpg);*/
	/*height: 300px;*/
	/*height: 19.6%;*/
}
footer nav{
	margin-left:auto;
	margin-right:auto;
	/*width:1000px;*/
	width:100%;
}
footer ul{
	/*float: left;*/
	/*color:white;*/
}
footer ul li{
	list-style: none;
	
}
#mainLeft{
	font-size:1.3em;
}
#mainCenter{
	font-size:1.3em;
}
#mainRight{
	font-size:1.3em;
}